* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.header {
    display: flex;
    background-color: #1F2937;
}

.hero {
    background-color: #1F2937;
    display: flex;
}

.hero-heading {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.hero-text {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-content {
    flex: 1;
}

.hero-image {
    flex: 1;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    margin-right: auto;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 800;
}

.nav-links {
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
}

.main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.information {
    color: #1F2937;
}

.information-heading {
    font-weight: 800;
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
}

/* .quote-text {

} */

.quote-attribution {
    text-align: right;
    font-weight: 800;
}

.cta {
    display: flex;
}

.cta-heading {
    font-weight: 800;
}

.footer { 
    height: 72px;
    background-color: #1F2937;
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: center;
}
